config/bookmarks.txt
/python
/datafiles
/scripts/freestyle/
/scripts/modules/
/scripts/startup/
/scripts/templates_osl/
/scripts/templates_py/
/scripts/addons_contrib/
*.spi1d
*.pyc
*.ocio
*.spi3d
config/recent-files.txt
scripts/addons_contrib/add_mesh_rocks/add_mesh_rocks.xml
scripts/addons_contrib/online_mat_lib/material-library/bundled/cycles/wood/rough_pine.bcm
acp
syncWithUpstream
forceSyncWithUpstream

\.idea/

.project

.pydevproject
