config/bookmarks.txt
/python
/datafiles
/scripts/freestyle/
/scripts/modules/
/scripts/startup/
/scripts/presets/
/scripts/templates_osl/
/scripts/templates_py/
/scripts/addons/
*.spi1d
*.pyc
*.ocio
*.spi3d
*.py
config/recent-files.txt