name: docs_pages_workflow
 
# execute this workflow automatically when a we push to master
on:
  push:
    branches: [ master ]
 
jobs: 
  build_docs_job:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
 
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Set up Python
        uses: actions/setup-python@v2.2.1
        with:
          python-version: 3.11
 
      - name: Install dependencies
        run: |
          python -m pip install -U sphinx
          python -m pip install sphinx-book-theme
          # python -m pip install sphinxcontrib-apidoc
          python -m pip install sphinx-autoapi
          python -m pip install myst-parser

      - name: make the sphinx docs
        run: |
          make -C scripts/addons/docs clean 
          sphinx-apidoc -f -o scripts/addons/docs scripts/addons/cam
          make -C scripts/addons/docs html

      - name: Init new repo in dist folder and commit generated files
        run: |
          cd scripts/addons/docs/_build/html/
          git init
          touch .nojekyll
          git add -A
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'deploy'

      - name: Force push to destination branch
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          force: true
          directory: ./scripts/addons/docs/_build/html
